<footer id="navigation">
  <nav>
    <div><%= link_to '#' do %>
        <i class="icon-vcard"></i><span>Summary</span>
      <% end %>
    </div>

    <div><%= link_to '#' do %>
        <i class="icon-progress-2"></i><span>Experience</span>
      <% end %>
    </div>
    <div><%= link_to '#' do %>
        <i class="icon-book"></i><span>Education</span>
      <% end %>
    </div>
    <div><%= link_to '#' do %>
        <i class="icon-pencil"></i><span>Blog</span>
      <% end %>
    </div>

   <div><%= link_to '#' do %>
        <i class="icon-paper-plane"></i><span>Contact</span>
      <% end %>
    </div>

    <div><a href="#" id="open-social-menu"><i class="icon-plus"></i></a></div>
    <div id="me"><%= image_tag 'person.jpg' %></div>
  </nav>
</footer>  <!-- #navigation -->

<div id="social-menu">
  <ul>
    <li><a href="#" class="link-linkedin"><i class="icon-linkedin"></i></a></li>
    <li><a href="#" class="link-dribbble"><i class="icon-dribbble"></i></a></li>
    <li><a href="#" class="link-twitter"><i class="icon-twitter"></i></a></li>
    <li><a href="#" class="link-pinterest"><i class="icon-pinterest-circled"></i></a></li>
    <li><a href="#" class="link-facebook"><i class="icon-facebook"></i></a></li>
  </ul>
</div>
